html[class~=dark] body {
	background-color: #0d1117 !important;
}

html[class~=dark] .nextra-nav-container,
html[class~=dark] footer {
	background-color: rgba(4, 12, 23, 0.8) !important;
}

body a {
	font-weight: 450 !important;
}

html[class~=dark] body pre {
	background-color: #121a25 !important;
}

html[class~=dark] body .nextra-sidebar-container li a {
    color: #bfbdbd;
}

.home-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.home-intro h1 {
	font-size: 4rem;
	color: #782cfd;
}

.home-intro .short-desc {
	font-size: 1.2rem;
	color: #6a737d;
	font-weight: 500;
}

.home-intro .version {
	font-size: .9rem;
	color: #6a737d;
	font-weight: 600;
}

html[class~=dark] .home-intro .short-desc,
html[class~=dark] .home-intro .version {
	color: #ededed;
}

.home-intro a {
	margin-top: 20px;
	padding: 10px 25px;
	border-radius: 5px;
	background-color: #782cfd;
	color: #fff;
	font-size: 1.2rem;
	text-decoration: none;
	letter-spacing: 1.2px;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

div[title="Donation"] {
	display: none;
}

.donation-title {
	font-size: 40px;
    font-weight: 600;
    text-align: center;
	margin: 30px 0 20px;
}

.donation-page {
	text-align: center;
}

.donation-page .donation-desc {
	color: #555;
}
html[class~=dark] .donation-page .donation-desc {
	color: #d3d3d3;
}

.donation-page-link {
	display: inline-block;
	padding: 12px 30px;
	background-color: #782cfd;
	color: #fff !important;
	border-radius: 5px;
	text-decoration: none !important;
	font-size: 1.1rem;
	font-weight: 600;
	letter-spacing: 1px;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
	margin-top: 50px;
}

.donation-page-link:hover {
	background-color: #6e24ed;
}

.donation-page-qr {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.donation-page-qr img {
	width: 250px;
}
